@font-face {
    font-family: Billabong;
    src: url('fonts/billabong_regular.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Arial';
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    body {
            background-color: #232424;
            color: white;
    }
}

.headerMegagram:active {
    opacity: 0.4;
}

.sidebarElement:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    width: 12em;
    border-radius: 0.4em;
}

.popup {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.footnote {
    color: #bfbebb;
    font-size: 1em;
}

.dropbtn {
    background-color: white;
    color: gray;
    font-size: 14px;
    border: none;
    margin-top: 8px;
    width: 4em;
}


.dropdown-content {
    display: none;
    margin-top: -280px;
    background-color: #e2e8ed;
    width: 10em;
    padding-top:0px;

}

  /* Links inside the dropdown */
.dropdown-content p {
    color: black;
    padding: 6px 10px;
    text-decoration: none;
    display: block;
    font-size:small;
}

.dropdown {
    width: 5%;
    align-items: center;
}


.dropdown-content p:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {display: none;}


.dropdownV {
    width: 35%;
    height: 35%;
}
