
@font-face {
    font-family: Billabong;
    src: url('assets/fonts/billabong_regular.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Arial';
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    body {
            background-color: #232424;
            color: white;
    }
    .popup {
        background-color: #232424 !important;
        color: white !important;
    }

    .sidebarElement:hover {
        color: black !important;
    }

    #leftSideBarPopupGap {
        background-color: rgb(33, 33, 33) !important;
    }

    .commentPopupBackground {
        background-color: #232424 !important;
    }

    .iconToBeAdjustedForDarkMode {
        filter: brightness(5) contrast(0);
    }

    .leftArrow {
        filter: brightness(5) contrast(0);
    }

    .rightArrow {
        filter: brightness(5) contrast(0);
    }

    .textArea {
        background-color: #232424 !important;
        color: white !important;
    }
}

.popup {
    background-color: white;
    color: black;
}

.headerMegagram:active {
    opacity: 0.4;
}

.sidebarElement {
    display: flex;
    align-items: center;
    margin-left: 0.9em;
    cursor: pointer;
    width: 90%;
    border-radius: 0.4em;
}

.sidebarElement:hover {
    background-color: #f0f0f0;
}

.popup {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.footnote {
    color: #bfbebb;
    font-size: 1em;
}

.dropbtn {
    background-color: white;
    color: gray;
    font-size: 14px;
    border: none;
    margin-top: 8px;
    width: 4em;
}


.dropdown-content {
    display: none;
    margin-top: -280px;
    background-color: #e2e8ed;
    width: 10em;
    padding-top:0px;

}

.dropdown-content p {
    color: black;
    padding: 6px 10px;
    text-decoration: none;
    display: block;
    font-size:small;
}

.dropdown {
    width: 5%;
    align-items: center;
}


.dropdown-content p:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {display: none;}


.dropdownV {
    width: 35%;
    height: 35%;
}

.blueButton {
    background-color: #82bbf5;
    color: white;
    width: 295px;
    height: 34px;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    padding-top:10px;
    padding-bottom: 10px;
    font-size: 12.5px;
    margin-top: 18px;
}

.custom-settings-icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
    display: inline-block;
    margin-top: -3px;
    cursor: pointer;
}


.video-js .vjs-progress-control .vjs-progress-holder {
    background-color: rgba(157, 154, 154, 0);
    width: 100% !important;
}

.video-js .vjs-progress-control .vjs-play-progress {
    background-color: #f00;
}

.video-js .vjs-progress-control {
    top: -55%;
}



.video-js .vjs-time-divider,
.video-js .vjs-duration,
.video-js .vjs-current-time {
    display: inline-block !important;
    color: white;
    font-size: 12px;
}

.video-js .vjs-current-time {
    left:-0.7%;
}

.video-js .vjs-duration {
    left:-2.2%;
}

.video-js .vjs-time-divider {
    position: absolute;
    left:16.7%;

}

.video-js .vjs-playback-rate .vjs-menu .vjs-menu-item {
    color: white;
    background-color: black;
    width: 60px;
    padding-right: 15px;
}

.video-js .vjs-control-bar {
    background-color: rgba(0, 0, 0, 0.1) !important;
    color: white !important;
}

.video-js .vjs-subtitles-button {
    display: inline-block !important;
}


.video-js .vjs-subtitles-button .vjs-menu-content {
    background-color: #333 !important;
    color: #fff !important;

}
.video-js .vjs-subtitles-button .vjs-menu-content .vjs-selected {
    background-color: lightgray !important;
}


:focus { outline: none !important; }

.vjs-big-play-button {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: none !important;
    border-radius: 50% !important;
    width: 100px !important;
    height: 100px !important;
    color: white !important;
    font-size: 8em !important;
    left: 59% !important;
    transition: background-color 0.3s ease !important;
}

.vjs-menu-item-text::first-letter {
    text-transform: capitalize !important;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 0.7em solid transparent;
    border-right: 0.7em solid transparent;
    border-bottom: 0.7em solid black;
    background-color: rgba(0,0,0,0.75),
}

.vjs-mouse-display {
    display: none !important;
}
