<div class="selectUserOrGroupChat" (click)="toggleSelectThisUserOrGroupChat()" [ngStyle]="{cursor: 'pointer', width: '180%',
display: 'flex', alignItems: 'center', paddingLeft: '2em', position: 'relative', paddingTop: '0.5em', paddingBottom: '0.5em',
paddingRight: '0.5em'}">
    <img [src]="profilePhoto" [ngStyle]="{height: '3.75em', width: '3.75em', objectFit: 'contain'}"/>

    <div [ngStyle]="{display: 'flex', flexDirection: 'column', alignItems: 'start', marginLeft: '1em', gap: '0.7em'}">
        <div [ngStyle]="{ display: 'flex', alignItems: 'center' }">
            <b [ngStyle]="{maxWidth: '10em', overflowWrap: 'break-word', textAlign: 'start'}">
                {{ userOrGroupChatName }}
            </b>

            <img *ngIf="isVerified" [src]="'images/verifiedBlueCheck.png'" [ngStyle]="{height: '1.5em', width: '1.5em',
            objectFit: 'contain', pointerEvents: 'none'}"/>
        </div>
        <p [ngStyle]="{marginTop: '-0.3em', color: 'gray', maxWidth: '10em', overflowWrap: 'break-word', textAlign:
        'start'}">
            {{ fullName === '?' ? 'Could not fetch full-name' : fullName }}
        </p>
    </div>

    <img *ngIf="isSelected" [src]="'images/checkedIcon.png'" [ngStyle]="{objectFit: 'contain', height: '2em', width: '2em', position:
    'absolute', right: '2%', top: '30%'}"/>

    <img *ngIf="!isSelected" [src]="'images/solidGrayDot.png'" [ngStyle]="{objectFit: 'contain', height: '2em', width: '2em',
    position: 'absolute', right: '2%', top: '30%'}"/>
</div>
