<div style="display: flex; width: 20em; align-items: start; position: relative; margin-bottom: -1em"
(mouseenter)="setDisplayAccountPreviewToTrue()" (mouseleave)="setDisplayAccountPreviewToFalse()">
    <a [href]="'http://34.111.89.101/profile/' + username" target="_blank" rel="noopener noreferrer">
        <img [src]="userPfp" style="height: 2.5em; width: 2.5em; object-fit: contain; cursor: pointer" />
    </a>

    <div style="display: flex; flex-direction: column; align-items: start; margin-left: 0.7em">
        <div style="display: flex; align-items: center">
            <a [href]="'http://34.111.89.101/profile/' + username" (mouseenter)="setDisplayAccountPreviewToTrue()" 
            (mouseleave)="setDisplayAccountPreviewToFalse()" style="font-size: 0.85em; cursor: pointer; max-width: 8em;
            overflow-wrap: break-word; text-align: start; font-weight: bold" target="_blank" rel="noopener noreferrer">
                {{ username }}
            </a>

            <img *ngIf="userIsVerified" [src]="'images/verifiedBlueCheck.png'" style="pointer-events: none; height: 1.5em;
            width: 1.5em; object-fit: contain" />
        </div>

        <p style="font-size: 0.7em; margin-top: 0.1em; color: #787878; max-width: 10em; overflow-wrap: break-word;
        text-align: start">
            {{ userFullName === '?' ? 'Could not get full name' : userFullName }}
        </p>
    </div>

    <p (click)="userId == authUserId ? takeUserToLogin() : toggleFollowUser()"
        [ngStyle]="{ color: toggleFollowText === 'Follow' ? '#348feb' : 'gray', cursor: 'pointer', fontSize: '0.85em',
        fontWeight: 'bold', position: 'absolute', left: '76%', top: '0%' }">
        {{ userId == authUserId ? 'Switch' : toggleFollowText }}
    </p>

    <div *ngIf="userId != authUserId && displayAccountPreview" style="position: absolute; top: 36%; left: -2%">
        <AccountPreview
            [username]="username"
            [userPfp]="userPfp"
            [userFullName]="userFullName"
            [toggleFollowText]="toggleFollowText"
            [authUserId]="authUserId"
            [userId]="userId"
            [numPosts]="numPosts"
            [numFollowers]="numFollowers"
            [numFollowings]="numFollowings"
            [userIsVerified]="userIsVerified"
            [userIsPrivate]="userIsPrivate"
            (updateFollowText)="updateFollowTextFromAccountPreview($event)"
            (showErrorPopup)="showErrorPopup.emit($event)"
        />
    </div>
</div>

<br />
<br />
