<a [href]="entireNotificationLink" target="blank" rel="noopener noreferrer">
    <div class="popup" (mouseenter)="userIsHoveringOnThisNotification = true" (mouseleave)="handleMouseLeave()" style="position:
    fixed; top: 2%; left: 25%; width: 50%; height: 6em; border-radius: 0.7em; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    z-index: 2; padding-left: 3em; padding-top: 1.5em; padding-bottom: 1em;">
        <img *ngIf="userIsHoveringOnThisNotification" [src]="'images/frisbeeXIcon.png'" (click)="deleteThis.emit($event)"
        style="height:c2em; width: 2em; object-fit: contain; cursor: pointer; position: absolute; top: 1%; right: -3.5%;
        transform: translate(-50%, -50%);" />

        <div style="display: flex; gap: 3em; align-items: start;">
            <a [href]="leftImageLink" target="blank" rel="noopener noreferrer">
                <img [src]="leftImage" style="height: 4em; width: 4em; object-fit: contain;"/>
            </a>

            <p style="text-align: start; width: 70%; max-height: 5em; overflow-wrap: break-word; overflow-y: scroll;
            margin-top: 0.5em;">
                <ng-container *ngFor="let el of elementsForDescription; let index = index">
                    <span *ngIf="el.type === 'span'">
                        {{ el.text }}
                    </span>
                    
                    <a *ngIf="el.type === 'a'" [href]="el.href" target="_blank" class="hashtagOrMention" style="color:
                    #71a3f5;">
                        {{ el.text }}
                    </a>
                </ng-container>
            </p>

            <img *ngIf="rightImage !== null" [src]="rightImage" style="height: 5em; width: 4.8em;"/>
        </div>
    </div>
</a>
