<LeftSidebar
    [profilePhoto]="usersAndTheirRelevantInfo[authUserId]?.profilePhoto ?? 'images/defaultPfp.png'"
    [displayPopup]="displayLeftSidebarPopup"
    [authUserIsAnonymousGuest]="authUserId == -1"
    (toggleDisplayLeftSidebarPopup)="toggleDisplayLeftSidebarPopup()"
/>

<div style="margin-top: 2.3em; width: 82%; position: absolute; left: 18%; display: flex; gap: 2%;">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: start; width: 65%;">
        <div style="display: flex; align-items: start; justify-content: center; gap: 1em; position: relative; width: 100%;">
            <div style="height: 4.6em; width: 2em; position: relative;">
                <img *ngIf="currStoryLevel > 0" [src]="'images/nextArrow.png'" class="iconToBeAdjustedForDarkMode"
                (click)="changeStoryLevel('decrement')" style="height: 1.5em; width: 1.5em; object-fit: contain; cursor:
                pointer; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(180deg);" />
            </div>

            <UserIcon *ngIf="currStoryLevel == 0"
                [authUserId]="authUserId"
                [userId]="authUserId"
                [username]="authUsername"
                [userPfp]="usersAndTheirRelevantInfo[authUserId]?.profilePhoto ?? 'images/defaultPfp.png'"
                [inStoriesSection]="true"
                [isSponsored]="false"
                [userHasStories]="usersAndTheirStories[authUserId] !== undefined"
                [userHasUnseenStory]="!userIdsWhoseStoriesYouHaveFinished.has(authUserId)"
                [userIsVerified]="usersAndTheirRelevantInfo[authUserId]?.isVerified ?? false"
                (showStoryViewer)="showStoryViewer($event)"
            />

            <ng-container *ngIf="fetchingStoriesIsComplete && storiesSectionErrorMessage.length == 0">
                <UserIcon *ngFor="let userId of orderedListOfUserIdsInStoriesSection.slice(currStoryLevel * 6,
                currStoryLevel * 6 + 6); let index = index; trackBy: storiesSectionTrackByFn"
                    [authUserId]="authUserId"
                    [userId]="userId"
                    [username]="orderedListOfUsernamesInStoriesSection[currStoryLevel * 6 + index]"
                    [userPfp]="usersAndTheirRelevantInfo[userId]?.profilePhoto ?? 'images/defaultPfp.png'"
                    [inStoriesSection]="true"
                    [isSponsored]="orderedListOfSponsorshipStatusesInStoriesSection[currStoryLevel * 6 + index]"
                    [userHasStories]="true"
                    [userHasUnseenStory]="!userIdsWhoseStoriesYouHaveFinished.has(userId)"
                    [userIsVerified]="usersAndTheirRelevantInfo[userId]?.isVerified ?? false"
                    (showStoryViewer)="showStoryViewer($event)"
                />

                <div style="height: 4.6em; width: 2em; position: relative;">
                    <img *ngIf="(currStoryLevel + 1) * 6 < orderedListOfUsernamesInStoriesSection.length"
                    [src]="'images/nextArrow.png'" class="iconToBeAdjustedForDarkMode" (click)="changeStoryLevel('increment')" 
                    style="height: 1.5em; width: 1.5em; object-fit: contain; cursor: pointer; position: absolute; top: 50%;
                    left: 50%; transform: translate(-50%, -50%);" />
                </div>
            </ng-container>

            <div *ngIf="fetchingStoriesIsComplete && storiesSectionErrorMessage.length > 0" style="height: 4.6em;
                width: 50%; position: relative; margin-left: 10%;">
                <p style="font-size: 0.9em; max-width: 100%; overflow-wrap: break-word; color: gray;
                position: absolute; top: 50%; left: 50%; transform: translate(-50%, -80%);">
                    {{ storiesSectionErrorMessage }}
                </p>
            </div>

            <div *ngIf="!fetchingStoriesIsComplete" style="height: 4.6em; width: 2em; position: relative; margin-left: 20%;">
                <img [src]="'images/loadingAnimation.gif'" style="height: 1.5em; width: 1.5em; object-fit: contain;
                pointer-events: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" />
            </div>
        </div>

        <br />
        <br />

        <ng-container *ngIf="initialPostsFetchingIsComplete && initialPostsFetchingErrorMessage.length == 0">
            <MediaPost *ngFor="let postDetails of orderedListOfPosts; trackBy: postsTrackByFn"
                [authUserId]="authUserId"
                [postDetails]="postDetails"
                [mainPostAuthorInfo]="usersAndTheirRelevantInfo[postDetails.authorIds[0]] ?? {}"
                [isFocused]="focusedMediaPostId === postDetails.overallPostId"
                [usersAndTheirRelevantInfo]="usersAndTheirRelevantInfo"
                (updatePostDetails)="updatePostDetails($event)"
                (showThreeDotsPopup)="showThreeDotsPopup($event)"
                (showCommentsPopup)="showCommentsPopup($event)"
                (showSendPostPopup)="showSendPostPopup($event)"
                (showLikersPopup)="showLikersPopup($event)"
                (showErrorPopup)="showErrorPopup($event)"
                (showStoryViewer)="showStoryViewer($event)"
                (focusOnThisMediaPost)="updateFocusedMediaPost($event)"
            />
        </ng-container>

        <div *ngIf="!isCurrentlyFetchingAdditionalPosts && additionalPostsFetchingErrorMessage.length > 0"
        style="margin-top: 2.5em; display: flex; width: 100%; justify-content: center;">
            <p style="max-width: 50%; overflow-wrap: break-word; color: gray; font-size: 0.9em;">
                {{ additionalPostsFetchingErrorMessage }}
            </p>
        </div>

        <div *ngIf="isCurrentlyFetchingAdditionalPosts" style="margin-top: 2.5em; display: flex; width: 100%;
        justify-content: center;">
            <img [src]="'images/loadingAnimation.gif'" style="height: 1.5em; width: 1.5em; object-fit: contain; pointer-events:
            none;"/>
        </div>
    </div>

    <div id="rightmostSection" style="display: flex; flex-direction: column; align-items: start; justify-content: start;
    width: 22%; gap: 1em; position: relative;">
        <UserBar *ngIf="authUserId !== -1"
            [username]="authUsername"
            [userFullName]="usersAndTheirRelevantInfo[authUserId]?.fullName ?? 'Could not get full-name'"
            [userPfp]="usersAndTheirRelevantInfo[authUserId]?.profilePhoto ?? 'images/defaultPfp.png'"
            [authUserId]="authUserId"
            [userId]="authUserId"
            [numFollowers]="0"
            [numFollowings]="0"
            [numPosts]="0"
            [userIsPrivate]="usersAndTheirRelevantInfo[authUserId]?.isPrivate ?? false"
            [userIsVerified]="usersAndTheirRelevantInfo[authUserId]?.isVerified ?? false"
            (showErrorPopup)="showErrorPopup($event)"
        />

        <div style="width: 100%; position: relative; margin-bottom: 2em;">
            <b style="color: #787878; position: absolute; left: 0%; top: 0%;">Suggested for you</b>

            <a href="http://34.111.89.101/user-suggestions" target="_blank" rel="noopener noreferrer"
                style="font-size: 0.9em; position: absolute; right: 0%; top: 0%;">
                See all
            </a>
        </div>

        <ng-container *ngIf="fetchingSuggestedUsersIsComplete && suggestedUsersSectionErrorMessage.length == 0">
            <UserBar *ngFor="let suggestedUserId of orderedListOfSuggestedUserIds; let index = index; trackBy:
            userSuggestionsTrackByFn"
                [username]="orderedListOfSuggestedUsernames[index]"
                [userFullName]="usersAndTheirRelevantInfo[suggestedUserId]?.fullName ?? 'Could not get full-name'"
                [userPfp]="usersAndTheirRelevantInfo[suggestedUserId]?.profilePhoto ?? 'images/defaultPfp.png'"
                [authUserId]="authUserId"
                [userId]="suggestedUserId"
                [numFollowers]="usersAndTheirRelevantInfo[suggestedUserId]?.numFollowers ?? -1"
                [numFollowings]="usersAndTheirRelevantInfo[suggestedUserId]?.numFollowings ?? -1"
                [numPosts]="usersAndTheirRelevantInfo[suggestedUserId]?.numPosts ?? -1"
                [userIsPrivate]="usersAndTheirRelevantInfo[suggestedUserId]?.isPrivate ?? false"
                [userIsVerified]="usersAndTheirRelevantInfo[suggestedUserId]?.isVerified ?? false"
                (showErrorPopup)="showErrorPopup($event)"
            />
        </ng-container>

        <p *ngIf="fetchingSuggestedUsersIsComplete && suggestedUsersSectionErrorMessage.length > 0" style="color: gray;
        width: 100%; overflow-wrap: break-word; margin-top: 2em; margin-bottom: 2em; font-size: 0.85em;">
            {{ suggestedUsersSectionErrorMessage }}
        </p>

        <img *ngIf="!fetchingSuggestedUsersIsComplete" [src]="'images/loadingAnimation.gif'" style="height: 1.5em; width:
        1.5em; object-fit: contain; pointer-events: none; margin-top: 2em; margin-bottom: 2em; margin-left: 50%;" />

        <br />

        <footer style="color: gray; font-size: 0.8em; width: 100%;">
            Megagram, a full-stack web-application that blends a bit of Instagram with a bit of Amazon, is a personal
            project of Rishav Ray.
        </footer>
    </div>
</div>

<p *ngIf="initialPostsFetchingIsComplete && initialPostsFetchingErrorMessage.length > 0" style="position: absolute; top: 50%;
left: 50%; transform: translate(-50%, -50%); max-width: 35%; overflow-wrap: break-word; color: gray; font-size: 0.9em;">
    {{ initialPostsFetchingErrorMessage }}
</p>

<img *ngIf="!initialPostsFetchingIsComplete" [src]="'images/loadingAnimation.gif'" style="position: absolute; top: 50%; left:
50%; transform: translate(-50%, -50%); height: 1.5em; width: 1.5em; object-fit: contain; pointer-events: none;"/>
  
<img [src]="'images/blackScreen.png'" *ngIf="displayLeftSidebarPopup || displayErrorPopup || displayThreeDotsPopup ||
displayAboutAccountPopup || displayCommentsPopup || displayLikersPopup || displaySendPostPopup || displayCommentsPopup"
(click)="closeAllPopups()" style="position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; opacity: 0.7; z-index: 2;"/>

<CommentsPopup *ngIf="displayCommentsPopup"
    [authUserId]="authUserId"
    [authUsername]="authUsername"
    [postDetails]="commentsPopupPostDetails"
    [usersAndTheirRelevantInfo]="usersAndTheirRelevantInfo"
    (updateUsersAndTheirRelevantInfo)="updateUsersAndTheirRelevantInfo($event)"
    [mainPostAuthorInfo]="usersAndTheirRelevantInfo[commentsPopupPostDetails.authorIds[0]] ?? {}"
    [currSlide]="commentsPopupCurrSlide"
    [zIndex]="displayThreeDotsPopup ||  displaySendPostPopup || displayLikersPopup || displayAboutAccountPopup ||
    displayErrorPopup || displayStoryViewer ? '1' : '2'"
    (closePopup)="closeCommentsPopup()"
    (showErrorPopup)="showErrorPopup($event)"
    (showThreeDotsPopup)="showThreeDotsPopup($event)"
    (showSendPostPopup)="showSendPostPopup($event)"
    (showLikersPopup)="showLikersPopup($event)"
    (showStoryViewer)="showStoryViewer($event)"
    (updatePostDetails)="updatePostDetails($event)"
/>

<div *ngIf="displayAboutAccountPopup" [ngStyle]="{position: 'fixed', top: '50%', left: '50%', transform: 'translate(-50%,
-50%)', zIndex: displayStoryViewer ? '1' : '2'}">
    <AboutAccountPopup
        [authUserId]="authUserId"
        [userId]="aboutAccountUserId"
        [username]="aboutAccountUsername"
        [authUsername]="authUsername"
        [userPfp]="aboutAccountUserProfilePhoto"
        [userIsVerified]="aboutAccountUserIsVerified"
        [userHasStories]="aboutAccountUserHasStories"
        [userHasUnseenStory]="aboutAccountUserHasUnseenStory"
        [usersAndTheirRelevantInfo]="usersAndTheirRelevantInfo"
        (addRelevantInfoToUser)="addRelevantInfoToUser($event)"
        (closePopup)="closeAboutAccountPopup()"
        (showStoryViewer)="showStoryViewer($event)"
    />
</div>

<StoryViewer *ngIf="displayStoryViewer"
    [authUserId]="authUserId"
    [authUsername]="authUsername"
    [storyAuthorUsername]="storyViewerMainUsername"
    [storyAuthorId]="storyViewerMainUserId"
    [zIndex]="displayErrorPopup ? '1' : '2'"
    [orderedListOfUserIdsInStoriesSection]="orderedListOfUserIdsInStoriesSection"
    [orderedListOfUsernamesInStoriesSection]="orderedListOfUsernamesInStoriesSection"
    [orderedListOfSponsorshipStatusesInStoriesSection]="orderedListOfSponsorshipStatusesInStoriesSection"
    [isFromStoriesSection]="storyViewerIsFromStoriesSection"
    [usersAndTheirStories]="usersAndTheirStories"
    [usersAndTheirStoryPreviews]="usersAndTheirStoryPreviews"
    [usersAndYourCurrSlideInTheirStories]="usersAndYourCurrSlideInTheirStories"
    [vidStoriesAndTheirPreviewImages]="vidStoriesAndTheirPreviewImages"
    [usersAndTheirRelevantInfo]="usersAndTheirRelevantInfo"
    [userIdsWhoseStoriesYouHaveFinished]="userIdsWhoseStoriesYouHaveFinished"
    (updateUsersAndTheirStories)="updateUsersAndTheirStories($event)"
    (updateUsersAndTheirStoryPreviews)="updateUsersAndTheirStoryPreviews($event)"
    (updateUsersAndYourCurrSlideInTheirStories)="updateUsersAndYourCurrSlideInTheirStories($event)"
    (updateVidStoriesAndTheirPreviewImages)="updateVidStoriesAndTheirPreviewImages($event)"
    (addUserIdToSetOfUsersWhoseStoriesYouHaveFinished)="addUserIdToSetOfUsersWhoseStoriesYouHaveFinished($event)"
    (closeStoryViewer)="closeStoryViewer()"
    (showErrorPopup)="showErrorPopup($event)"
/>

<div *ngIf="displayLeftSidebarPopup" [ngStyle]="{position: 'fixed', bottom: '10%', left: '1%', zIndex: displayErrorPopup ?
'1' : '2'}">
    <LeftSidebarPopup
        [authUserId]="authUserId"
        [originalURL]="originalURL"
        (showErrorPopup)="showErrorPopup($event)"
    />
</div>

<div *ngIf="displayThreeDotsPopup" [ngStyle]="{position: 'fixed', top: '50%', left: '50%', transform: 'translate(-50%,
-50%)', zIndex: displayErrorPopup ? '1' : '2'}">
    <ThreeDotsPopup
        [authUserId]="authUserId"
        [postDetails]="threeDotsPopupPostDetails"
        (hidePost)="hidePost()"
        (showErrorPopup)="showErrorPopup($event)"
        (closePopup)="closeThreeDotsPopup()"
        (showAboutAccountPopup)="showAboutAccountPopup($event)"
    />
</div>

<div *ngIf="displayLikersPopup" [ngStyle]="{position: 'fixed', top: '50%', left: '50%', transform: 'translate(-50%,
-50%)', zIndex: displayErrorPopup ? '1' : '2'}">
    <LikersPopup
        [idOfPostOrComment]="likersPopupIdOfPostOrComment"
        [authUserId]="authUserId"
        [usersAndTheirRelevantInfo]="usersAndTheirRelevantInfo" 
        (closePopup)="closeLikersPopup()"
        (showErrorPopup)="showErrorPopup($event)"
        (updateUsersAndTheirRelevantInfo)="updateUsersAndTheirRelevantInfo($event)"
    />
</div>

<div *ngIf="displaySendPostPopup" [ngStyle]="{position: 'fixed', top: '50%', left: '50%', transform: 'translate(-50%,
-50%)', zIndex: displayErrorPopup ? '1' : '2'}">
    <SendPostPopup
        [authUserId]="authUserId"
        [overallPostId]="sendPostPopupOverallPostId"
        [usersAndTheirRelevantInfo]="usersAndTheirRelevantInfo"
        [cachedMessageSendingSuggestions]="cachedMessageSendingSuggestions"
        (updateUsersAndTheirRelevantInfo)="updateUsersAndTheirRelevantInfo($event)"
        (updateCachedMessageSendingSuggestions)="updateCachedMessageSendingSuggestions($event)"
        (showErrorPopup)="showErrorPopup($event)"
        (closePopup)="closeSendPostPopup()"
    />
</div>

<div *ngIf="displayErrorPopup" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2;">
    <ErrorPopup
        [errorMessage]="errorPopupMessage"
        (closePopup)="closeErrorPopup()"
    />
</div>

<ng-container *ngIf="orderedListOfNotifications.length > 0">
    <UserNotification *ngFor="let notification of orderedListOfNotifications.slice(0,1); trackBy: notificationsTrackByFn"
        [leftImage]="notification.leftImage"
        [rightImage]="notification.rightImage"
        [description]="notification.description"
        [leftImageLink]="notification.leftImageLink"
        [entireNotificationLink]="notification.entireNotificationLink"
        (deleteThis)="deleteNotification($event)"
    />
</ng-container>