<LeftSidebar
    [profilePhoto]="'images/defaultPfp.png'"
    [displayPopup]="displayLeftSidebarPopup"
    [authUserIsAnonymousGuest]="authUserId == -1"
    (toggleDisplayLeftSidebarPopup)="toggleDisplayLeftSidebarPopup()"
/>

<div style="position: absolute; left: 24%;">
    
</div>

<img [src]="'images/blackScreen.png'" *ngIf="displayLeftSidebarPopup || displayErrorPopup || displayThreeDotsPopup ||
displayAboutAccountPopup || displayCommentsPopup || displayLikersPopup || displaySendPostPopup || displayCommentsPopup"
(click)="closeAllPopups()" style="position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; opacity: 0.7; z-index: 2;"/>

<CommentsPopup *ngIf="displayCommentsPopup"
    [authUserId]="authUserId"
    [authUsername]="authUsername"
    [postDetails]="commentsPopupPostDetails"
    [usersAndTheirRelevantInfo]="usersAndTheirRelevantInfo"
    (updateUsersAndTheirRelevantInfo)="updateUsersAndTheirRelevantInfo($event)"
    [mainPostAuthorInfo]="usersAndTheirRelevantInfo[commentsPopupPostDetails.authorIds[0]] ?? {}"
    [currSlide]="commentsPopupCurrSlide"
    [zIndex]="displayThreeDotsPopup ||  displaySendPostPopup || displayLikersPopup || displayAboutAccountPopup ||
    displayErrorPopup || displayStoryViewer ? '1' : '2'"
    (closePopup)="closeCommentsPopup()"
    (showErrorPopup)="showErrorPopup($event)"
    (showThreeDotsPopup)="showThreeDotsPopup($event)"
    (showSendPostPopup)="showSendPostPopup($event)"
    (showLikersPopup)="showLikersPopup($event)"
    (showStoryViewer)="showStoryViewer($event)"
    (updatePostDetails)="updatePostDetails($event)"
/>

<div *ngIf="displayAboutAccountPopup" [ngStyle]="{position: 'fixed', top: '50%', left: '50%', transform: 'translate(-50%,
-50%)', zIndex: displayStoryViewer ? '1' : '2'}">
    <AboutAccountPopup
        [authUserId]="authUserId"
        [userId]="aboutAccountUserId"
        [username]="aboutAccountUsername"
        [authUsername]="authUsername"
        [userPfp]="aboutAccountUserProfilePhoto"
        [userIsVerified]="aboutAccountUserIsVerified"
        [userHasStories]="aboutAccountUserHasStories"
        [userHasUnseenStory]="aboutAccountUserHasUnseenStory"
        [usersAndTheirRelevantInfo]="usersAndTheirRelevantInfo"
        (addRelevantInfoToUser)="addRelevantInfoToUser($event)"
        (closePopup)="closeAboutAccountPopup()"
        (showStoryViewer)="showStoryViewer($event)"
    />
</div>

<StoryViewer *ngIf="displayStoryViewer"
    [authUserId]="authUserId"
    [authUsername]="authUsername"
    [storyAuthorUsername]="storyViewerMainUsername"
    [storyAuthorId]="storyViewerMainUserId"
    [zIndex]="displayErrorPopup ? '1' : '2'"
    [orderedListOfUserIdsInStoriesSection]="orderedListOfUserIdsInStoriesSection"
    [orderedListOfUsernamesInStoriesSection]="orderedListOfUsernamesInStoriesSection"
    [orderedListOfSponsorshipStatusesInStoriesSection]="orderedListOfSponsorshipStatusesInStoriesSection"
    [isFromStoriesSection]="storyViewerIsFromStoriesSection"
    [usersAndTheirStories]="usersAndTheirStories"
    [usersAndTheirStoryPreviews]="usersAndTheirStoryPreviews"
    [usersAndYourCurrSlideInTheirStories]="usersAndYourCurrSlideInTheirStories"
    [vidStoriesAndTheirPreviewImages]="vidStoriesAndTheirPreviewImages"
    [usersAndTheirRelevantInfo]="usersAndTheirRelevantInfo"
    [usernamesWhoseStoriesYouHaveFinished]="usernamesWhoseStoriesYouHaveFinished"
    (updateUsersAndTheirStories)="updateUsersAndTheirStories($event)"
    (updateUsersAndTheirStoryPreviews)="updateUsersAndTheirStoryPreviews($event)"
    (updateUsersAndYourCurrSlideInTheirStories)="updateUsersAndYourCurrSlideInTheirStories($event)"
    (updateVidStoriesAndTheirPreviewImages)="updateVidStoriesAndTheirPreviewImages($event)"
    (addUsernameToSetOfUsersWhoseStoriesYouHaveFinished)="addUsernameToSetOfUsersWhoseStoriesYouHaveFinished($event)"
    (closeStoryViewer)="closeStoryViewer()"
    (showErrorPopup)="showErrorPopup($event)"
/>

<div *ngIf="displayLeftSidebarPopup" [ngStyle]="{position: 'fixed', bottom: '10%', left: '1%', zIndex: displayErrorPopup ?
'1' : '2'}">
    <LeftSidebarPopup
        [authUserId]="authUserId"
        [originalURL]="originalURL"
        (showErrorPopup)="showErrorPopup($event)"
    />
</div>

<div *ngIf="displayThreeDotsPopup" [ngStyle]="{position: 'fixed', top: '50%', left: '50%', transform: 'translate(-50%,
-50%)', zIndex: displayErrorPopup ? '1' : '2'}">
    <ThreeDotsPopup
        [authUserId]="authUserId"
        [postDetails]="threeDotsPopupPostDetails"
        (hidePost)="hidePost()"
        (showErrorPopup)="showErrorPopup($event)"
        (closePopup)="closeThreeDotsPopup()"
        (showAboutAccountPopup)="showAboutAccountPopup($event)"
    />
</div>

<div *ngIf="displayLikersPopup" [ngStyle]="{position: 'fixed', top: '50%', left: '50%', transform: 'translate(-50%,
-50%)', zIndex: displayErrorPopup ? '1' : '2'}">
    <LikersPopup
        [idOfPostOrComment]="likersPopupIdOfPostOrComment"
        [authUserId]="authUserId"
        [usersAndTheirRelevantInfo]="usersAndTheirRelevantInfo" 
        (closePopup)="closeLikersPopup()"
        (showErrorPopup)="showErrorPopup($event)"
        (updateUsersAndTheirRelevantInfo)="updateUsersAndTheirRelevantInfo($event)"
    />
</div>

<div *ngIf="displaySendPostPopup" [ngStyle]="{position: 'fixed', top: '50%', left: '50%', transform: 'translate(-50%,
-50%)', zIndex: displayErrorPopup ? '1' : '2'}">
    <SendPostPopup
        [authUserId]="authUserId"
        [overallPostId]="sendPostPopupOverallPostId"
        [usersAndTheirRelevantInfo]="usersAndTheirRelevantInfo"
        [cachedMessageSendingSuggestions]="cachedMessageSendingSuggestions"
        (updateUsersAndTheirRelevantInfo)="updateUsersAndTheirRelevantInfo($event)"
        (updateCachedMessageSendingSuggestions)="updateCachedMessageSendingSuggestions($event)"
        (showErrorPopup)="showErrorPopup($event)"
        (closePopup)="closeSendPostPopup()"
    />
</div>

<div *ngIf="displayErrorPopup" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2;">
    <ErrorPopup
        [errorMessage]="errorPopupMessage"
        (closePopup)="closeErrorPopup()"
    />
</div>

<ng-container *ngIf="orderedListOfNotifications.length > 0">
    <UserNotification *ngFor="let notification of orderedListOfNotifications.slice(0,1); trackBy: notificationsTrackByFn"
        [leftImage]="notification.leftImage"
        [rightImage]="notification.rightImage"
        [description]="notification.description"
        [leftImageLink]="notification.leftImageLink"
        [entireNotificationLink]="notification.entireNotificationLink"
        (deleteThis)="deleteNotification($event)"
    />
</ng-container>